@import '../index';

.navbar {
  border: none;
  color: var(--blue-text-color) !important;

  .navbar-collapse {
    @media (min-width: 992px) {
      flex-grow: 0;
    }
  }

  .navbar-brand {
    border: none;
  }
  .navbar-text {
    font-family: 'Allerta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15em;

    color: var(--blue-text-color) !important;
  }
  .nav-link {
    border: none;

    font-family: 'Allerta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--blue-text-color) !important;
    transition: 0.3s all ease;

    &:hover,
    &:focus {
      background-image: none;
      border: none;
      background-color: var(--button-hover);
    }
  }
  .divider {
    border-left: 2px solid #546f80;
    height: 40px;
    margin: auto 10px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .action-items {
    width: 500px;
    padding: 0 20px;
  }

  .restart-button {
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(98%) sepia(31%) saturate(396%)
        hue-rotate(312deg) brightness(103%) contrast(89%);
    }
  }

  .dropdown-user {
    .dropdown-toggle::after {
      content: none;
    }

    .dropdown-menu {
      background-color: var(--bg-black);

      .dropdown-item {
        color: #4e78b8;

        &:hover {
          background-color: var(--bg-black);
        }
      }
    }
  }

  .connect {
    background: linear-gradient(90deg, #418dff 1.64%, #4bffdf 98.6%);
    border-radius: 30px;
    width: 11rem;
    height: 3.125rem;
  }
}

.currency-display {
  @extend .bg-gradient;
  border-radius: 40px;
  width: 17rem;
  height: 3.125rem;
  border: 1px solid #418dff;
}

.proofTableBg {
  background: linear-gradient(
    180deg,
    rgba(32, 49, 75, 0.5) 0%,
    rgba(32, 49, 75, 0) 100%
  );
}

.table {
  @extend .proofTableBg;
  border-radius: 10px;
  margin-bottom: 0;

  thead {
    @extend .proofTableBg;
    height: 66px;
    border-bottom: 1px #6a6a9f66 solid;
    box-shadow: 0px 10px 20px 0px #00000066;
    color: var(--secondary-color) !important;
    font-weight: 600;
    font-size: 1.25rem;

    tr th {
      height: 50px;
      line-height: 50px;

      &:first-child {
        border-radius: 10px 0 0 0;
      }

      &:last-child {
        border-radius: 0 10px 0 0;
      }
    }
  }

  tbody {
    font-weight: 500;
    font-size: 1.125rem;

    th,
    td {
      border-style: none;

      img {
        width: 1rem;
      }
    }
  }
}

.border-button {
  border: 1px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(0deg, var(--bg-black), var(--bg-black)),
    linear-gradient(90deg, #4da1ff 0%, #4dffdf 100%);
}

.form-group-item {
  max-height: 7rem;
}
