.navbar {
  border: none;
  color: var(--blue-text-color) !important;

  .navbar-collapse {
    @media (min-width: 992px) {
      flex-grow: 0;
    }
  }

  .navbar-brand {
    border: none;
  }
  .navbar-text {
    font-family: "Allerta";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15em;

    color: var(--blue-text-color) !important;
  }
  .nav-link {
    border: none;

    font-family: "Allerta";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--blue-text-color) !important;
    transition: 0.3s all ease;

    &:hover,
    &:focus {
      background-image: none;
      border: none;
      background-color: var(--button-hover);
    }
  }
  .divider {
    border-left: 2px solid #546f80;
    height: 40px;
    margin: auto 10px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .action-items {
    width: 500px;
    padding: 0 20px;
  }

  .restart-button {
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(98%) sepia(31%) saturate(396%)
        hue-rotate(312deg) brightness(103%) contrast(89%);
    }
  }

  .connect {
    background: linear-gradient(90deg, #418dff 1.64%, #4bffdf 98.6%);
    border-radius: 30px;
    width: 11rem;
    height: 3.125rem;
  }
}

.currency-display {
  background: var(--button-gradient);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  border-radius: 40px;
  width: 17rem;
  height: 3.125rem;
  border: 1px solid #418dff;
}

.table {
  border: 2px solid var(--table-border-color);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  text-align: center;

  color: #b5e5eb;
  th,
  td {
    border: 2px solid var(--table-border-color);
  }
  td {
    font-size: 14px;
  }
}
