body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-black) !important;
  background: url('./images/bg.png') no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
body,
html {
  --bs-body-font-family: 'Chakra Petch', sans-serif;
  --bg-blue: #405461;
  --bg-black: #05050f;
  --navbar-bg: #32414b;
  --button-main: #546f80;
  --button-hover: #658498;
  --button-click: #2e3c46;
  --info-text-color: #d2c4b2;
  --blue-text-color: #94c4ca;
  --table-bg: #546f80;
  --table-border-color: #2e3c46;
  --icon-hover: #f1f0e1;
  --button-gradient: linear-gradient(
    180deg,
    #20314b 0%,
    rgba(32, 49, 75, 0) 100%
  );
  --filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
}

.modal-content {
  max-width: 35rem;
  margin: 0 auto;
}

.appearance-none {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.gradient-content {
  background: linear-gradient(90deg, #418dff 0%, #4bffdf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.common-card-bg-box {
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #151f33, #070b18),
    linear-gradient(180deg, #418dff, #344371);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.common-card-bg-box label {
  color: #4e78b8;
}

.border-box {
  border: 1px solid transparent;
  position: relative;
  background-color: #222;
  background-clip: padding-box;

  .border-content {
    border-radius: 1rem;
    background: linear-gradient(
      180deg,
      rgba(32, 49, 75, 0.5) 0%,
      rgba(32, 49, 75, 0) 100%
    );
  }
}

.border-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(65, 141, 255, 0.5) 0%,
    rgba(52, 67, 113, 0.5) 84.9%
  );
}

.container-max {
  max-width: 35rem !important;
}

.bg-gradient-blue {
  background: linear-gradient(90deg, #418dff 1.64%, #4bffdf 98.6%);
}

.bg-gradient {
  background: var(--button-gradient);
  filter: var(--filter);
  box-shadow: 0px 10px 20px 0px #00000066;
}
