body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-black) !important;
  background: url("./images/bg.png") no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
body,
html {
  --bs-body-font-family: "Chakra Petch", sans-serif;
  --bg-blue: #405461;
  --bg-black: #05050f;
  --navbar-bg: #32414b;
  --button-main: #546f80;
  --button-hover: #658498;
  --button-click: #2e3c46;
  --info-text-color: #d2c4b2;
  --blue-text-color: #94c4ca;
  --table-bg: #546f80;
  --table-border-color: #2e3c46;
  --icon-hover: #f1f0e1;
  --button-gradient: linear-gradient(
    180deg,
    #20314b 0%,
    rgba(32, 49, 75, 0) 100%
  );
}

.appearance-none {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.gradient-content {
  background: linear-gradient(90deg, #418dff 0%, #4bffdf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
