@import '../index';

@font-face {
  font-family: 'Be Vietnam';
  src: url(../fonts/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: 'Allerta';
  src: url(../fonts/Allerta-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf);
}

nav .modal-btn {
  display: inline-block;
}

div.board-row {
  padding: 0px;
  margin: 0px;
  height: var(--cell-size);
  margin-bottom: 10px;
}

.game-width {
  --game-width: 500px;

  max-width: var(--game-width) !important;
}

div.content {
  padding-left: 12px;
  padding-top: 15px;
  width: 500px;
  height: 500px;
  background-size: 500px 500px;
  background: linear-gradient(180deg, #20314b 0%, rgba(32, 49, 75, 0) 100%);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  border-radius: 20px;
  --cell-size: 110px;
  --cell-margin: 12px;
}

.board-cell {
  display: inline-block;
  height: var(--cell-size);
  width: var(--cell-size);
  margin-right: var(--cell-margin);
}

.board-cell-out span,
button {
  display: inline-block;
  height: var(--cell-size);
  width: var(--cell-size);
  border: 3px solid white;
  border-radius: 5px;
}

@for $i from 1 through 17 {
  .board-cell-#{$i} {
    display: inline-block;
    height: var(--cell-size);
    width: var(--cell-size);
    margin-right: var(--cell-margin);
    background-image: url('../images/' + $i + '.png');
    background-size: contain;
  }
}

.overflow-breakword {
  overflow-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}
.qr-code {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: var(--blue-text-color);
  justify-content: center;
  align-items: center;

  .qr-msg {
    min-width: 200px;
    max-width: 350px;
  }
}

.game-info {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  color: var(--blue-text-color);
}

.game-icon {
  width: 50px;
  height: 50px;
}

.game-inputs {
  border-radius: 20px;
  max-width: 560px !important;
  color: #4e78b8;
  .border-content {
    border-radius: 20px;
  }
}

.high-score {
  max-width: 11rem;
}

.icon-2048 {
  text-shadow: 0px 0px 20px rgba(0, 236, 255, 0.4);
}
